body{
    font-family: sans-serif;
}
*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    text-align: center;
}

button{
    cursor: pointer;
}

.board {
    position: fixed;
    right: 0;
    left: 0;
    height: 30vh;
    border: 5px solid white;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
}
#bokdrakeBoard {
    bottom: 60%;
    background-color: #fafafa;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(250, 250, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fafafa', GradientType=0);
}
#biblomonBoard {
    top: 40%;
    background-color: #fafafa;
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00ffffff', GradientType=0);
}

#hand,#opponentHand{
    position: fixed;
    display: block;
    left: 170px;
    right: 170px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}
#hand{
    bottom: -45px;
}
/*.drawing>.card:last-of-type{
    opacity: 0;
}*/
#opponentHand{
    top: -170px;
    pointer-events: none;
    overflow: hidden;
}
#opponentHand>.card{
    margin: 5px;
}

#biblomon, #biblomonLife {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 2;
}
#bokdrake, #bokdrakeLife {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2;
}
#biblomonImg, #bokdrakeImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
    z-index: 2;
}
#biblomonLife, #bokdrakeLife {
    display: block;
    width: 25px;
    height: 25px;
    padding: 5px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.dialog{
    position: fixed;
    display: none;
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: #3b3b3b;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
    z-index: 3;
}
.dialog:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
#biblomonDialog{
    bottom: 160px;
    left: 10px;
}
#bokdrakeDialog{
    top: 160px;
    right: 10px;
}
#biblomonDialog:before{
    left: 62.5px;
    bottom: -10px;
    border-top: 10px solid #3b3b3b;
}
#bokdrakeDialog:before{
    right: 62.5px;
    top: -10px;
    border-bottom: 10px solid #3b3b3b;
}
#biblomon:hover+#biblomonDialog:not(:empty), #bokdrake:hover+#bokdrakeDialog:not(:empty){
    display: block!important;
    opacity: 1!important;
}

#biblomonDeck{
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-block;
    margin: 5px;
    margin-right: 12px;
    padding: 20px;
    width: 100px;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: #606060 1px 0px, #606060 2px 0px, #454545 3px 0px, #454545 4px 0px, #606060 5px 0px, #606060 6px 0px, #454545 7px 0px, #454545 8px 0px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    z-index: 5;
}


/* CARD */

.card {
    display: inline-block;
    margin: 0 -70px;
    padding: 20px;
    width: 100px;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}
.card:hover{
    top: -50px;
    z-index: 8;
}
.card:hover .type>p,.card.hover-board .type>p,.card.selected .type>p, .card.played .type>p{
    opacity: 1;
}
.card.selected{
    top: -80px;
    z-index: 8;
}
.card button.cancel, .card button.play{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    padding: 2px;
    border: 3px solid black;
    border-radius: 5px;
    background: none;
    font-size: 0.9em;
    font-weight: bold;
}
.card button.cancel{
    bottom: -32px;
}
.card button.play{
    top: -32px;
}

.card.played, .card.onHold{
    pointer-events: none;
    top: -150px;
    z-index: 9;
    background-color: #3b3b3b;
}
.card.animated{
    pointer-events: none;
    z-index: 10;
}
.card.drawn{
    margin: 0;
    pointer-events: none;
    z-index: 2;
}
.card.new{
    pointer-events: none;
    opacity: 0;
}

.disabled .card:not(.animated):not(.played):not(.onHold){
    pointer-events: none;
    opacity: 0.2;
    cursor: not-allowed;
}

.card>span{
    display: block;
    margin: 0 auto;
}
.card .value{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 25px!important;
    margin-bottom: -55px!important;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    z-index: 9;
}
.card .type{
    position: relative;
    z-index: 5;
}
#hadn .card .type>p{
    margin: 0;
    margin-top: 10px;
    opacity: 0;
}
.card .bonus{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    background-color: #3b3b3b;
    padding: 2px;
    border-radius: 15px;
}

.card .lifetime{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0 2px;
    padding-top: 4px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    z-index: 6;

}

.card.ui-draggable-dragging{
    z-index: 9;
}
.card.ui-draggable-dragging/*:not(.hover-board)*/{
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.8);
}
.board>.card/*,.card.hover-board*/{
    background: none;
    color: black;
    box-shadow: 0 0 0 0 rgba(0,0,0,0)!important;
}

.board>.card .lifetime/*, .card.hover-board .lifetime*/{
    border-color: black;
    background-color: white;
    z-index: 9;
}
.board>.card .type>p/*, .card.hover-board .type>p*/{
    opacity: 0;
}

.board.drop-hover{
    background-color: #e0e0e0!important;
}

#hand div{
    display: inline-block;
    width: 75px;
}
.board .card {
    margin: 5px;
    width: 100px;
}



/* MENU */
#bars{
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    background: none;
    width: 55px;
    height: 55px;
    padding: 10px;
    font-size: 1.3em;
    color: black;
    cursor: pointer;
    z-index: 9;
}
#bars:hover{
    opacity: 0.5;
}


#menu,#newGame,#endGame{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
}
#menu>.toggleMenu{
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    background: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
#menu>.toggleMenu:hover{
    opacity: 0.5;
}

#tabdeck>.card{
    margin: 5px;
}
#tabdeck>.card .type>p{
    opacity: 1;
}

/* SCREEN */

#newGame{
    display: block;
    padding: 20px;
    overflow-y: scroll;
}
/* List Fighters */
#biblomonList, #bokdrakeOpponent,#endGame>ul{
    padding: 0;
    list-style: none;
    text-align: left;
}
#endGame>ul{
    max-height: 30vh;
    overflow: auto;
}
#endGame>ul>li{
    width: calc(100vw - 350px);
    margin: auto;
}
#biblomonList>li, #bokdrakeOpponent>li,#endGame>ul>li{
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 150px;
    background-color: #fafafa;
    border-radius: 5px;
}
#biblomonList>li>img, #bokdrakeOpponent>li>img,#endGame>ul>li>img{
    float: left;
    margin-right: 20px;
    height: 150px;
    width: 150px;
}
#biblomonList>li>ul, #bokdrakeOpponent>li>ul,#endGame>ul>li>ul{
    margin-left: 150px;
    list-style: square;
}
#biblomonList button.choose,.buttons>a{
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #3b3b3b;
    text-decoration: none;
    font-size: 0.9em;
}
#biblomonList button.choose{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#biblomonList button.choose:hover{
    background-color: black;
}

#bokdrakeOpponent .dialog{
    position: relative;
    display: block;
    min-height: auto;
    background-color: #3b3b3b;
}
#bokdrakeOpponent .dialog:before{
    left: 77.5px;
    top: -10px;
    border-bottom: 10px solid #3b3b3b;
}

/* Start screen */

#startScreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 100;
}
#startScreen>h1{
    margin-top: 20vh;
    margin-bottom: 100px;
}
#startScreen>h1>img{
    max-width: 100%;
}
#startScreen>p{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}

/* endGame */
#endGame{
    padding: 20px;
    padding-top: 25vh;
    text-align: center;
}
#endGame>.buttons>a{
    text-decoration: none;
    margin: 0 5px;
}

/* hitPoints */
.hitPoints{
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -10px!important;
    color: yellow;
    font-size: 2em;
    transform: scale(0);
    transition: all 0.3s;
    z-index: 9;
}
.hitPoints.animate{
    transform: scale(2);
}
.hitPoints.critical{
    color: orange;
}